.card{
    z-index: 1 !important;
    position: relative;
}


.download-btn{
    position: absolute;
    right: 0;
    border: 1px rgba(204, 204, 204, 0.13) solid;
    background: #fff;
    color: #343140;
    padding: .6rem .7rem;
    transition: background .2s ease-in-out;
}

.download-btn:hover{
    /* color: #fff; */
    /* background: #343a40; */
    /* background: var(--app-theme); */
    background: rgb(236, 236, 236);
    color:  #343140;
    text-decoration: none;
}